.section1 {
  height: 100%;
}

.h2Design {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 100;
  position: absolute;
  top: 280px;
  margin-left: 5rem;
  margin-top: 3rem;
}

.backgroundImg {
  background-image: url(../../../assets/competence-bg.png);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.navAlign {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  gap: 10px;
  padding-top: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.home {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.middle,
.frontEnd {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.home:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: 0.5s;
}

.h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  text-transform: capitalize;
  position: absolute;
  top: 200px;
  margin-left: 5rem;
  margin-top: 4rem;
}
.h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 100;
  position: absolute;
  top: 280px;
  margin-left: 5rem;
  margin-top: 4rem;
}

.section2 {
  height: 100%;
}

.headAlign {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-left: 5rem;
}
.head2Align {
  margin-top: 6rem;
}

.head1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.5px;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 100;
}
.head2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.box {
  position: absolute;
  top: 70px;
  left: 130px;
  width: 400px;
  height: 340px;
  background-color: #4a99e2;
}

.boxesAlign {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.firstBox {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
  /* padding-left: 50px; */
  margin-left: 3rem;
  margin-right: 3rem;
}

.backEnd {
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: 3px;
}

.firstTextAlign {
  font-size: 16px;
  /* width: 70%; */
  line-height: 150%;
  font-family: "Roboto";
  font-weight: lighter;
}

.learn {
  color: #4a99e2;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2px;
}

.icon {
  color: #4a99e2;
  margin-top: 22px;
  font-size: 16px;
  margin-left: 15px;
}

.layersAlign {
  display: flex;
  flex-direction: row;
}
.layersIcon {
  color: #4a99e2;
  font-size: 40px;
  margin-right: 20px;
}

.tvIcon {
  color: #4a99e2;
  font-size: 40px;
  margin-right: 20px;
}
.brushIcon {
  color: #4a99e2;
  font-size: 40px;
  margin-right: 20px;
}
.backEndAlign {
  margin-top: 15px;
}
.frontAlign {
  margin-top: 15px;
}
.digitalAlign {
  margin-top: 15px;
}

.section3 {
  height: 100%;
  margin-bottom: 100px;
}

.head2Align {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.comp1 {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-top: 3rem;
}
.image {
  width: 700px;
  padding-top: 100px;
  padding-right: 200px;
  position: relative;
}
.image1 {
  width: 700px;
  padding-top: 100px;
  padding-right: 200px;
  position: relative;
}
.imgAlign {
  position: relative;
  top: 0;
  left: 0;
}
.comp1TextAlign {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}
.text1 {
  width: 70%;
  font-size: 16px;
  line-height: 150%;
  font-family: "Roboto";
  font-weight: lighter;
}

@media only screen and (max-width: 1020px) {
  .h1 {
    font-size: 50px;
  }

  .h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 976px) {
  .boxesAlign {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 5rem;
  }
  .box {
    display: none;
  }
  .comp1 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .imgAlign {
    position: static;
    top: 0;
    margin: 0;
    margin-top: 3rem;
  }
  .image {
    width: 350px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .image1 {
    display: none;
  }
  .h2 {
    margin-top: 7rem;
  }
  .h1 {
    font-size: 50px;
  }
  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .alignment {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .headAlign {
    text-align: center;
    margin-left: 0;
  }
  .head2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .firstBox {
    display: flex;
    flex-direction: column;
  }
  .backEnd {
    text-align: center;
  }
  .firstTextAlign {
    text-align: center;
    max-width: 40%;
    min-width: 350px;
  }
  .firstBox {
    margin-top: 5rem;
  }
  .brushIcon {
    margin-right: 0;
  }
  .tvIcon {
    margin-right: 0;
  }
  .layersIcon {
    margin-right: 0;
  }
}

@media only screen and (max-width: 485px) {
  .h1 {
    font-size: 30px;
  }
  .firstTextAlign {
    max-width: 100%;
    min-width: 280px;
  }
  .navAlign {
    margin-left: 2rem;
  }
  .h1 {
    margin-left: 2rem;
  }
  .h2,
  .h2Design {
    margin-left: 2rem;
    margin-top: 4rem;
    font-size: 22px;
  }
}

/* @media only screen and (max-width: 600px) {
  .section2 {
    height: 1100px;
  }
  .section3 {
    height: 2000px;
  }

  .boxesAlign {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .comp1 {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
  }

  .h1 {
    font-size: 55px;
  }

  .h2 {
    margin-top: 7rem;
  }

  .comp1TextAlign {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .h1 {
    font-size: 45px;
    margin-top: 1rem;
  }

  .h2 {
    font-size: 25px;
    margin-top: 3rem;
  }

  .firstTextAlign {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .h1 {
    font-size: 35px;
    margin-top: 1rem;
  }

  .h2 {
    font-size: 22px;
    margin-top: 1.5rem;
  }

  .firstTextAlign {
    font-size: 13px;
  }

  .home {
    font-size: 13px;
  }

  .middle {
    font-size: 13px;
  }

  .frontEnd {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  .h1 {
    font-size: 27px;
    margin-top: 1rem;
  }

  .h2 {
    font-size: 15px;
    margin-top: 1rem;
  }

  .firstTextAlign {
    font-size: 13px;
  }

  .home {
    font-size: 13px;
  }

  .middle {
    font-size: 13px;
  }

  .frontEnd {
    font-size: 13px;
  }

  .head1 {
    font-size: 15px;
  }

  .head2 {
    font-size: 25px;
  }

  .head2Align {
    margin-top: 3rem;
  }
} */
