.login-base {
  position: relative;
  height: 100vh;
  min-height: 800px;
  display: flex;
}

.logo {
  cursor: pointer;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo-and-form {
  position: relative;
  width: 50%;
  flex-direction: column;
  padding: 1rem 4rem;
  min-width: 250px;
}

.login-base-form {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  width: 100%;
  padding: 0 2rem;
}

.login-base-background {
  background-image: url("../../../assets/login-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

@media (max-width: 900px) {
  .logo-and-form {
    padding: 1rem 3rem;
    width: 70%;
  }

  .login-base-background {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .logo-and-form {
    width: 100%;
    padding: 1rem 1.6rem;
  }

  .login-base-background {
    width: 0%;
  }
}

@media (max-width: 450px) {
  .login-base-form {
    top: 20%;
  }
}

@media (max-width: 375px) {
  .login-base-form {
    top: 13%;
  }
}
