#root {
  display: flex;
  height: 100vh;
  min-height: 750px;
  background-image: url("../../../assets/intro-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 6rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
}

.introHeadingBold {
  font-weight: 700;
  font-size: 64px;
}

.introHeadingRegular {
  font-weight: 300;
  font-size: 64px;
}

.introText {
  font-weight: 300;
  font-size: 38px;
}

.serviceBtn {
  width: 182px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background-color: #4a99e2;
  margin-right: 2rem;
  letter-spacing: 0.2rem;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
}

.serviceBtn:hover:enabled {
  background: #2573bb;
}

.contactBtn:hover:enabled {
  background: rgba(56, 57, 60, 0.4);
}

.contactBtn {
  width: 182px;
  height: 52px;
  border-radius: 8px;
  background-color: transparent;
  border: 3px solid #4a99e2;
  letter-spacing: 0.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.btnContainer {
  margin-top: 3rem;
}

.arrowContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  bottom: 4rem;
  right: 50%;
  position: absolute;
}

.arrow {
  color: white;
  animation: animation 3.8s infinite;
}

.arrow:hover {
  cursor: pointer;
}

@keyframes animation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

@media (max-width: 600px) {
  .btnContainer {
    display: flex;
    flex-direction: column;
  }

  .introContainer {
    margin-left: 2rem;
  }

  .introText {
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  .btnContainer {
    display: flex;
    flex-direction: column;
  }

  .introText {
    font-size: 28px;
  }
}

@media (max-width: 550px) {
  .arrowContainer {
    display: none;
  }

  .introText {
    font-size: 22px;
  }

  .introHeadingBold {
    font-size: 50px;
  }

  .introHeadingRegular {
    font-size: 50px;
  }

  .contactBtn {
    width: 150px;
    height: 50px;
    font-size: 0.7rem;
  }

  .serviceBtn {
    width: 150px;
    height: 50px;
    font-size: 0.7rem;
  }
}

@media (max-width: 695px) {
  .introContainer {
    margin-left: 2rem;
  }
}
