.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
  padding-top: 0.8rem;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  margin-left: 4rem;
  margin-top: 1rem;
  cursor: pointer;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  z-index: 2;
}

.headerRight {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-top: 1rem;
}

.navItems,
.loginOutBtn {
  font-size: 16px;
  list-style-type: none;
  padding-left: 1rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.navMarginRight {
  margin-right: 1.4rem;
}

.loginOutBtn {
  border: 2px solid #4a99e2;
  border-radius: 8px;
  padding: 0.6rem 1.5rem;
  margin-left: 3rem;
  display: flex;
  place-items: center;
}

.loginOutBtn:hover {
  background: rgba(56, 57, 60, 0.4);
}
/* 
.burgerMenu {
  display: none;
} */
/* 
.openedMenuClass {
  display: none;
} */

.openMenuStyle {
  background-color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.openMenuStyle ul {
  color: #4a99e2;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2.5px;
}

/* .openMenuStyle ul li {
  width: 18rem;
  height: 3.3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  column-gap: 2rem;
} */

.scrollLink {
  width: 180px;
  height: 3.3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 1rem;
  column-gap: 1.5rem;
  text-transform: uppercase;
}

/* .openMenuStyle ul li:hover, */
.scrollLink:hover {
  cursor: pointer;
  background-color: #4a98e244;
  color: #54acff;
}

/* .openMenuStyle ul li:active, */
.scrollLink:active {
  cursor: pointer;
  background-color: #4a98e23d;
  color: #54acff;
}

@media (max-width: 930px) {
  .headerRight {
    display: none;
  }

  .logo {
    margin-left: 1.3rem;
    margin-top: 1rem;
  }

  .burgerMenu {
    display: block;
    margin-top: 1rem;
    margin-right: 1.7rem;
    height: auto;
    width: 1.5rem;
    cursor: pointer;
  }
}

@media (max-width: 330px) {
  .openMenuStyle ul li {
    width: 15rem;
  }
}
