#root {
  color: #848484;
  padding: 80px 40px 40px 40px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  padding-top: 40px;
  padding-bottom: 10px;
}

input {
  color: #333333;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding: 5px 1px;
}
