#root {
  color: #848484;
  padding: 65px 40px 40px 40px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

input,
select {
  color: #333333;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding: 5px 0;
  margin-top: 5px;
}

select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-position: right !important;
  background: url("data:image/svg+xml,<svg height='11px' width='11px' viewBox='0 0 16 16' fill='%234a99e2' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  margin-top: 50px;
  margin-bottom: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #4a99e2;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:focus,
option,
select:focus {
  outline: none;
  border-bottom: 1px solid #4a99e2;
  color: #4a99e2;
}

input::placeholder {
  color: #858585;
  opacity: 50%;
  font-style: italic;
}

.form-error {
  position: absolute;
  left: 0;
  bottom: -5px;
  color: #e24a4a;
  font-style: italic;
}

button {
  width: 186px;
  height: 52px;
  background: #4a99e2;
  border: none;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 15%;
  color: #fff;
  margin-top: 40px;
}

button:hover:enabled {
  background: #2573bb;
}

.opac {
  opacity: 50%;
}

.dark {
  color: #333333;
}

.grey {
  color: rgba(133, 133, 133, 0.5);
}
