.serviceSection {
  background-color: #ffffff;
  height: 100%;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}

.textAlign {
  padding-top: 150px;
  padding-left: 50px;
}

.text2Align {
  display: flex;
  flex-direction: row;
}

.whtStyle {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 40px;
}
.text2Align:hover {
  transform: scale(1.1);
  z-index: 2;
  transition: 0.5s;
}

.expStyle {
  margin-left: 10px;
  font-weight: 100;
  font-size: 40px;
  color: #474747;
}

.h1Style {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.5px;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 100;
}

.infoStyle {
  font-size: 16px;
  width: 80%;
  font-weight: lighter;
  font-family: "Roboto";
  line-height: 150%;
  min-width: 270px;
}

.image {
  width: 700px;
  padding-top: 100px;
  padding-right: 200px;
  position: relative;
}

.align {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  margin-left: 2rem;
}
.imgAlign {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 5rem;
}

.image:hover {
  transform: scale(1.1);
  z-index: 2;
  transition: 0.5s;
}

.box {
  position: absolute;
  top: 70px;
  left: 130px;
  width: 400px;
  height: 340px;
  background-color: #4a99e2;
}

.boxesAlign {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.firstBox {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
  padding-left: 50px;
}

.backEnd {
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: 3px;
}

.firstTextAlign,
.secondTextAlign,
.thirdTextAlign {
  font-size: 16px;
  width: 70%;
  line-height: 150%;
  font-family: "Roboto";
  font-weight: lighter;
}

.learn {
  color: #4a99e2;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2px;
}

.iconAlign:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: 0.5s;
}

.icon {
  color: #4a99e2;
  margin-top: 22px;
  font-size: 16px;
  margin-left: 15px;
}

.layersAlign {
  display: flex;
  flex-direction: row;
}

.layersIcon,
.tvIcon,
.brushIcon {
  color: #4a99e2;
  font-size: 40px;
  margin-right: 20px;
}

.backEndAlign,
.frontAlign,
.digitalAlign {
  margin-top: 15px;
}

@media only screen and (max-width: 1300px) {
  .box {
    width: 240px;
    height: 200px;
    top: 80px;
    left: 85px;
  }
  .image {
    width: 500px;
  }
  .imgAlign {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .imgAlign {
    margin-left: 50px;
  }
  .whtStyle {
    font-size: 30px;
  }
  .expStyle {
    font-size: 30px;
    margin-left: -1px;
  }
  .text2Align {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .serviceSection {
    height: 100%;
    margin-bottom: 100px;
  }
  .align {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-top: 0;
  }
  .imgAlign {
    position: static;
    top: 0;
    margin: 0;
    margin-top: 3rem;
  }
  .image {
    width: 350px;
    margin: 0;
    padding: 0;
  }
  .infoStyle {
    max-width: 50%;
    margin-top: 3rem;
  }
  .textAlign {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    padding-top: 3rem;
    margin-top: 0;
  }
  .boxesAlign {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .firstBox {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
  }
  .firstTextAlign,
  .secondTextAlign,
  .thirdTextAlign {
    max-width: 50%;
    min-width: 270px;
  }
  .firstText2Align {
    display: flex;
    justify-content: center;
  }
  .infoAlign {
    display: flex;
    justify-content: center;
  }
  .box {
    display: none;
  }
  .layersIcon,
  .tvIcon,
  .brushIcon {
    margin: auto;
  }
}

@media only screen and (max-width: 550px) {
  .image {
    max-width: 300px;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 384px) {
  .image {
    max-width: 220px;
  }
}
