.container {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 3rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
  max-width: 2200px;
  color: #333333;
}

.p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.5px;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.memberTitleContainer {
  display: flex;
  font-size: 29px;
  column-gap: 1rem;
  padding-bottom: 5rem;
}

.theFantastic {
  font-family: "Montserrat", sans-serif;
}

.five {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.memberContainer {
  display: flex;
  column-gap: 3rem;
  row-gap: 4rem;
  flex-wrap: wrap;
}

.memberPic {
  width: 103px;
  height: auto;
}

.memberInfo {
  display: flex;
  max-width: 400px;
  width: 400px;
  min-width: 300px;
}

.memberText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.memberName {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #4a99e2;
}

.learnmore {
  margin-top: 4rem;
  display: flex;
  place-content: center;
  place-items: center;
  cursor: pointer;
}

.learnmore:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: 0.5s;
}

.learnmore > p {
  font-family: "Alegreya Sans SC", sans-serif;
  text-decoration: none;
  color: #4a99e2;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-right: 0.3rem;
}

.arrow {
  color: #4a99e2;
  font-size: 11px;
}

/** MEDIA QUERY **/

@media (max-width: 900px) {
  .container {
    align-items: center;
  }
  .memberContainer {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .container {
    margin: auto;
  }
  .memberTitleContainer {
    font-size: 20px;
    padding-bottom: 3rem;
  }
  .memberInfo {
    width: 85%;
  }
  .memberText {
    font-size: 0.8rem;
  }
}

@media (max-width: 478px) {
  .memberTitleContainer {
    font-size: 15px;
    padding-bottom: 3rem;
  }
}

@media (max-width: 400px) {
  .memberPic {
    width: 140px;
  }

  .memberInfo {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    text-align: center;
  }

  .memberText {
    gap: 0.3rem;
  }

  .memberName {
    font-size: 1rem;
  }
}
