@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 3rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
  max-width: 250rem;
  color: #333333;
}

.p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.5px;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.memberTitleContainer {
  display: flex;
  font-size: 29px;
  column-gap: 1rem;
  padding-bottom: 5rem;
}

.theFantastic {
  font-family: "Montserrat", sans-serif;
}

.five {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.memberContainer {
  display: flex;
  column-gap: 12rem;
  row-gap: 4rem;
  flex-wrap: wrap;
}

.memberPic {
  width: 103px;
  height: auto;
}

.memberInfo {
  display: flex;
}

.memberText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.memberName {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #4a99e2;
}

.learnmore {
  margin-top: 4rem;
  display: flex;
  place-content: center;
  place-items: center;
}

.learnmore > a {
  font-family: "Alegreya Sans SC", sans-serif;
  text-decoration: none;
  color: #4a99e2;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-right: 0.3rem;
}

.arrow {
  color: #4a99e2;
  font-size: 11px;
}

/** MEDIA QUERY **/

@media (max-width: 900px) {
  .container {
    align-items: center;
  }
  .memberContainer {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .memberTitleContainer {
    font-size: 20px;
    padding-bottom: 3rem;
  }
}

@media (max-width: 478px) {
  .memberTitleContainer {
    font-size: 15px;
    padding-bottom: 3rem;
  }
}

@media (max-width: 400px) {
  .memberTitleContainer {
    flex-direction: column;
    align-items: center;
  }
  .theFantastic {
    margin-bottom: 0.5rem;
  }
  .memberPic {
    width: 95px;
  }
  .container {
    margin-left: 3rem;
  }
}

@media (max-width: 330px) {
  .theFantastic {
    font-size: 1.1rem;
  }
  .five {
    font-size: 1rem;
  }
}
