footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-color: #333;
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

.footer-logo {
  font-size: 2rem;
  font-weight: bold;
}

.footer-link {
  margin-top: 1rem;
  display: flex;
  white-space: nowrap;
  gap: 3rem;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin: 3rem auto;
}

.navlink {
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border: 1px solid #fafafa;
  border-radius: 8px;
  gap: 1rem;
}

.devider {
  height: 1rem;
  width: 1px;
  background-color: #fafafa;
}

.footer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.companyAddress {
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  white-space: nowrap;
}

.companyAddress > h6 {
  font-size: 1rem;
}

@media (max-width: 900px) {
  footer {
    padding: 5rem 1rem;
    gap: 2.5rem;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    margin-top: 2rem;
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .footer-link {
    flex-direction: column;
    gap: 2rem;
    margin: 1rem auto;
  }
}
