.input {
  border: none;
  border-bottom: 1px solid #cbcbcb;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #333;
  padding-bottom: 0.5rem;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #4a99e2;
  color: #4a99e2;
}
